@import '../settings';

.email_don_2 {
    .d-inline-block {
        display: inline-block;
    }

    .fs-normal {
        font-size: 20px;
    }

    .fs-big {
        font-size: 30px;
    }

  .fs-35 {
    font-size: 35px;
  }

  .text-blue {
    color: #344354;
  }

    .text-red {
        color: #E2001A;
    }

    .text-black {
        color: #000;
    }

    .text-bold {
        font-weight: bold;
    }

    .width-100 {
        width: 100% !important;
    }

    a.text-center {
        text-align: center;
    }
    
    .view-mail-in-browser {
		color: #666;
		font-size: 12px;
    }


    .btn-group .left {
        padding-left: 0;
    }
    .btn-group .right {
        padding-right: 0;
    }

  .uppercase {
    text-transform: uppercase;
  }

  .roboto {
    font-family: Roboto, Arial, sans-serif;
  }


     // SMALL ONLY
     @media only screen and (max-width: #{$global-breakpoint}) {
        .sm-mb-1 {
            margin-bottom: 10px;
        }

        .btn-group .left {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .btn-group .right {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
     }

  p {
    font-family: Arial, sans-serif;
  }
}