<div id="footer">
    <row>
        <columns small="12" large="12">
            <hr>
        </columns>
    </row>

    <row class="catho_logo">
        <columns small="12" large="12">
            <center>
                <a href="{{ footer_logo_link }}">
                    <img src="https://heroku-adfinitas-campaign.s3.amazonaws.com/Catho_Lille/Email_IFI+04_20/Logo_Catho_Lille.png" alt="Logo de la Catho de Lille" class="float-center">
                </a>
            </center>
        </columns>
    </row>

    <row>
        <columns small="12" large="12">
            <p class="txt">60 Boulevard Vauban CS 40109 - 59016 Lille Cedex</p>
        </columns>
    </row>

    <row>
        <columns small="12" large="12">
            <hr>
        </columns>
    </row>

    <row>
        <columns small="1" large="1">&nbsp;</columns>
        <columns small="10" large="10">
            <p class="txt small dark">
                Conformément à la loi française (article Conformément à la loi française (article 27 de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés), vous disposez d'un droit d'accès et de rectification concernant vos données.<br><br>
                <a sb-type="UNSUBSCRIBE" href="TODO" style="font-family:Arial, Helvetica, sans-serif;color:#333333;font-size:11px;">Cliquez sur ce lien pour vous désabonner</a>
            </p>
        </columns>
        <columns small="1" large="1">&nbsp;</columns>
    </row>
</div>