<div id="header">
    <spacer size="20"></spacer>

    <row class="pre-header">
        <columns small="12" large="12">
            <p class="txt">{{ pre_header_txt }}<br>
                Si vous ne visualisez pas correctement ce message, veuillez <a href="TODO">cliquer ici</a>.
            </p>
        </columns>
    </row>

    <row>
        <columns small="12" large="12">
            <hr>
        </columns>
    </row>

    <row class="catho_logo">
        <columns small="12" large="12">
            <center>
                <a href="{{ header_logo_link }}">
                    <img src="https://heroku-adfinitas-campaign.s3.amazonaws.com/Catho_Lille/Email_IFI+04_20/Logo_Catho_Lille.png" alt="Logo de la Catho de Lille" class="float-center">
                </a>
            </center>
        </columns>
    </row>

    <spacer size="10"></spacer>

    <row class="header_img">
        <columns small="12" large="12">
            <a href="{{ header_link }}">
                <img src="{{ header_img_url }}" alt="{{ header_img_alt }}">
            </a>
        </columns>
    </row>

    <spacer size="20"></spacer>
</div>