@import '../settings';

.email_ifi_2 {
    .blue-color {
        color: #2B2E83;
    }

    .txt {
        font-size: 18px;
    }

    .underline {
        text-decoration: underline;
    }

    .bold {
        font-weight: bold;
    }

    ul {
        list-style-image: url("https://heroku-adfinitas-campaign.s3.amazonaws.com/Catho_Lille/Email_IFI+04_20/Email+1/dot.png");
        padding-left: 15px;
        font-size: 12px;

        li {
            padding-left: 20px;
            width: 75%;

            span {
                font-size: 18px;
                line-height: 1;
            }
        }
    }

    ol {
        font-size: 18px;
        color: #F68712;
        font-weight: bold;
    }

    li {
        padding-left: 10px;
        width: 90%;

        span {
            color: #0a0a0a;
            font-weight: 400;
        }
    }

    .fs-15 {
        font-size: 15px;
    }
}